/* header */
header {
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 970px) {
    header {
      flex-direction: column;
      padding: 20px 10px;
    }
  }
  
  header .left,
  header .right {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 970px) {
    header .left {
      margin-bottom: 20px;
    }
  }
  
  header > .left > .header {
    color: #42515F;
    font-weight: bold;
    font-size: 28px;
    margin-right: 10px;
  }
  @media screen and (max-width: 300px) {
    header > .left > .header {
      font-size: 24px;
    }
  }
  header > .left > .employee-number {
    padding: 5px;
  }
  
  header .right {
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  @media screen and (max-width: 970px) {
    header .right {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  
  header .right .search-field {
    border-radius: 1000px;
    box-shadow: 0px 1px 3px #00000029;
    /* width: 50px; */
    overflow-x: hidden;
    /* margin-right: 20px; */
    display: flex;
    height: 100%;
    animation: width 0.5s linear;
  }
  header .right .search-field.on {
    width: 250px;
    /* padding-left: 20px; */
  }
  header .right .search-field.on .search {
    width: 100%;
    padding-left: 20px;
  }
  header .right .search-field.off {
    width: 50px;
  }
  @media screen and (max-width: 970px) {
    header .right .search-field.on,
    header .right .search-field.off,
    header .right .search-field.on .search,
    header .right .search-field.off .search {
      width: 100%;
    }
    header .right .search-field.on .search,
    header .right .search-field.off .search {
      padding-left: 20px;
    }
  }
  
  header .right .search {
    background: #fff;
    outline: none;
    border: none;
    padding: 0;
    width: 0%;
  }
  
  header .right .search-toggle {
    border: none;
    background-color: #fff;
    width: 50px;
    cursor: pointer;
  }
  
  .green {
    background-color: #82A70C;
    color: #fff;
    border-radius: 5px;
    
  }
  
  header .right .add-user {
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* employee details table */
  section.employee-details-section {
    padding: 20px 15%;
    overflow-x: auto;
  }
  @media screen and (max-width: 970px) {
    section.employee-details-section {
      padding: 20px 10px;
    }
  }
  
  table.employee-details {
    text-align: left;
    width: 100%;
    min-width: 700px;
  }
  
  table.employee-details thead {
    background-color: #42515F;
    color: #fff;
  }
  table.employee-details thead th {
    padding: 20px 0;
  }
  
  table.employee-details tbody td {
    padding: 4px 0;
  }
  
  .department-pill {
    display: inline-block;
    background-color: #E9FEA5;
    border-radius: 1000px;
    color: #3D3D3D;
    padding: 5px 10px;
    margin-right: 4px;
  }
  
  table.employee-details tbody td .icon {
    display: inline-block;
    margin-left: 10px;
  }